.sign-in {
  width: 40%;
  display: flex;
  flex-direction: column;

  .title {
    margin: 25px 0px;
  }

  .button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
